body {
    /*font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;*/
    font-family: helvetica, arial;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

/*.navbar-static-top {*/
  /*margin-bottom: 19px;*/
/*}*/

.navbar-fixed-top{
    /*background: #32647f;*/
    background: #2a2a2a; border-bottom: #427c83 solid 3px;
    color: white;
}

.navbar-static-top{
    background: #32647f;
    color: white;
}
.navbar-default .navbar-brand{
    color: white!important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    background: #78bcaf;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: floralwhite;
    background-color: transparent;
}

.dropdown-menu > li > a {
    color: #494949;
    font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
}



/*icon color design*/
.fa-tasks{
    color: #f17a72;
    /*border: solid 1px white;*/
    border: solid 1px white;
    padding: 3px;
}

.fa-dashcube{
    color: #ecc34f;
    border: solid 1px white;
    padding: 3px;
}
/*.badge*/

/*h4*/
